<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina Web</title> 

    <div class="imagen"> <img class='image' src="ecologiahoy.net" alt="centro de reciclaje ecologico"> <div>


    <link rel="stylesheet" href='/stylesheets/style.css'/>
 </head>
 <body>
    <header>
        <h1>Centro de Reciclaje Ecológico</h1>

        
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nuestros Servicios</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="hero">
            <h2>Recicla y cuida el planeta</h2>
            <p>¡Únete a nosotros en la lucha contra la contaminación!</p>
        </section>

        <section id="servicios">
            <h2>Nuestros Servicios</h2>
            <div class="servicio">
                <h3>Reciclaje de papel</h3>
                <p>Reciclamos todo tipo de papel y cartón.</p>
            </div>
            </section>

        <section id="beneficios">
            <h2>Beneficios del reciclaje</h2>
            <ul>
                <li>Reduce la cantidad de residuos en los vertederos.</li>
                <li>Conserva los recursos naturales.</li>
                </ul>
        </section>

        <section id="contacto">
            <h2>Contáctanos</h2>
            <form>
                </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Centro de Reciclaje Ecológico</p>
    </footer>
 
</body>
</html>

