<!DOCTYPE html>
<html>
  <head>
    <title>P2_31107390</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola Mundo</h1>
    <p>Nombre: Bryam</p>
    <p>Apellido: Hernandez</p>
    <p>Celula: 31.107.390</p>
    <p>Seccion: 4</p>
  </body>
</html>
